/*메인시작*/

body{
    background: #040c19
}
#visual-wrap{
    width: 100%;
    height:auto;
    position: relative;
    left: 0px;
    top: 0px;
}
#visual-wrap img{
    width: 100%;
}
#visual-body{
    width: 1400px;
}
.smoke {
    position: absolute;
    top: 0px;
    left: -10%;
    transform: translate3d(0, 0, 0) rotate(0.01deg);
    width: 200%;
    height: 100%;

    /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/smoke-min.png') center center no-repeat;
    background-size: cover; */

    background: url(/images/smoke.png) center center no-repeat;
    background-size: cover;


    opacity: 1;
    animation: smokebg 35s infinite alternate;
}

.visual-text-wrap{
    width: auto;
    position: absolute;
    top: 40%;
    left: 16%;
    transition: all 0.5s ease-out;
    opacity: 1;

}
.st{
    font: bold 42px/51px 'Noto Sans';
    transform: scaleY(1.5);
    opacity: 0;
    display: inline-block;
    transition: all 0.5s ease-out;
}
.normal{
    transform: scaleY(1.5);
    opacity: 0;
    display: inline-block;
    transition: all 0.5s ease-out;
}
.visual-title{
    font: normal 42px/51px 'Noto Sans';
    color: white;
    opacity: 1;
    
}
.visual-text{
    margin-top: 30px;
    font: normal 20px/24px 'Noto Sans';
    color: white;
    transition: all 0.5s ease-out;
    opacity: 0;
    transform: scaleY(1.5);
}


#visual-btn{
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #0485d7;
    border-radius: 25px;
    position: absolute;
    top: 60%;
    left: 16%;
    z-index: 2;
    
}
#visual-btn a{
    font: normal 20px/24px 'Noto Sans';
    color: #0485d7;
}

#scroll-wrap{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 10px;
    left: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.arrow{
    height: 20px;
    color: rgba(255, 255, 255,1);
    opacity: 0;
    transition: all 0.2s ease-out;
}
.arrow-text{
    font: normal 16px/24px 'Noto Sans';
    color: #ffffff;
    margin-top: 10px;
}

/*컨텐츠시작*/

#content-wrap{
    width: 100%;
    height: auto;
    background-color: rgb(197, 197, 197);
}
#business-bg{
    width: 100%;
    height: 1290px;
    background: url(/images/메인2.png);
    background-size: cover;
}
#business-body{
    width: 1400px;
    height: 100%;
    margin: 0px auto;
}

#business-text-wrap{
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-wrap{
    position: relative;
    left: 20px;
    top: 0px;
}
.blue-text{
    font: bold 12px/15px 'Noto Sans';
    color:#0485d7;
    position: absolute;
    top: 20px; /*0*/
    opacity: 0;
    transition: all 0.3s ease-out;
  
    
}
.Big-text{
    font: normal 42px/51px 'Noto Sans';
    color: white;
    position: absolute;
    top: 35px;  /*15*/
    opacity: 0;
    transition: all 0.3s ease-out;
}
.explanation-text{
    font: normal 16px/19px 'Noto Sans';
    color: white;
    padding-top: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 80px; /*60*/
    opacity: 0;
    transition: all 0.3s ease-out;
  
}
#business-icon-wrap{
    width: 100%;
    height: 1030px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.icon-box{
    text-align: center;
    width: auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: relative;
    right:  200px;
    top: -30px;


}
.down{
    margin-top: 200px;
}

.icon{
    width: 340px;
    height: 340px;
    border:solid 0px #0485d7;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(2, 2, 3);
    transform: scale(1);
    opacity: 0;
    overflow: hidden;

    position: absolute;

      
   
}
  .icon::before{
    content: '';
    position: absolute;
    z-index: -1;
    left: 4px;
    top: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: rgba(2, 2, 3,1);
    border-radius: 50%;
    transition: all 0.3s ease-out;

  }

  .icon:hover::before{
    background: rgba(2, 2, 3,0.5);
    
  }

  .icon::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(60deg, #ffffff,#0485d7);
    border-radius: 50%;
    z-index: -4;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    
  }
  .icon1{
    top: 200px; /*0*/
  
  }
  .icon2{
    bottom: -200px; /*2*/
   
  }
  .icon3{
    bottom: -200px;/*4*/

  }
  .icon4{
    top: 200px;/*5*/

  }
  .icon5{
    bottom: -200px;/*3*/
  
  }
  .icon6{
    top: 200px;/*1*/
  
  }


.icon-title{
    font: bold 20px/24px 'Noto Sans';
    color: white;
    margin-top: 20px;

}
.icon-text{
    font: normal 16px/19px 'Noto Sans';
    color: white;
    margin-top: 10px;

}

#stacore-bg{
    width: 100%;
    height: auto;
    background: url(/images/메인3.png);
    background-size: cover;
}
#stacore-body{
    width: 1400px;
    height:100%;
    margin: 0px auto;
}
#stcore-up{
    width: 100%;
    height: 1180px;
}
#stacore-title{
    width: 100%;
    height: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#stacore-title p {
    font: normal 42px/51px 'Noto Sans';
    color: white;
}
.Big-text>span{
    font: bold 42px/51px 'Noto Sans';
    color: white; 
}
#movie{
    display: flex;
    justify-content: center;
    align-items: center;
}
#movie img{
    width: 100%;
}
#stacore-down{
    width: 100%;
    height: 731px;
}
.stacore-title-wrap{
    position: relative;
    left: 20px;
    top: 0px;
}
.stacore-title-wrap::after{
    content: "";
    display: block;
    width: 72%;
    height: 1px;
    background: rgb(255, 255, 255);
    position: absolute;
    right: 50px;
    top: 42px;
}
#projects-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#projects-list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#projects-list li{
    position: relative;
    left: 0px;
    top: 0px;
    border: solid 1px white;
}
#projects-list li img{
    width: 100%;
}
.pro-text-wrap{
    position: absolute;
    bottom: 30px;
    left: 20px;
}
.pro-text{
    font: bold 1.25em 'Noto Sans';
    color: white;
}
.pro-date{
    margin-top: 10px;
    font: normal 1.14em 'Noto Sans';
    color: white;
}












@media screen and (max-width:1400px){
    #visual-body,#business-body,#stacore-body{
        width: 100%;
    }
}



@media screen and (max-width:1200px){

   
    #visual-text-wrap{
        top: 35%;
    }
    #visual-btn{
        transform: scale(0.8);
        top: 68%;
        left: 14%;
    }
    #visual-title,#visual-title>span{
        font-size:38px;
    }
    #visual-text{
        font-size:16px
    }
    #business-icon-wrap{
        transform: scale(0.7);
    }
    .stacore-title-wrap::after{
        width: 60%;
    }
    #projects-list li{
        margin-left: 10px;
    }
    #projects-list li:last-child{
        margin-right: 10px;
    }
  
   
}


@media screen and (max-width:900px){
    #visual-text-wrap{
        top: 33%;
    }
    #visual-btn{
        top: 70%;
        left: 12%;
        transform: scale(0.7);
    }
    #visual-title,#visual-title>span{
        font-size:30px;
    }
    #visual-text{
        margin-top: 20px;
        font-size:12px
    }
    #business-icon-wrap{
        transform: scale(0.6);
    }
    #business-text-wrap{
    padding-top: 300px;
    box-sizing: border-box;
    }
    .stacore-title-wrap::after{
        width:45%;
    }
     #projects-wrap{
        transform: scale(0.9);
    }
    .pro-text{
        font-size: 16px;
    }
    .pro-date{
        font-size: 12px;
    }

}


@keyframes smokebg {
    
    50% {
        transform: translate3d(100px, 0, 0) rotate(0.01deg)
    }
    100% {
      transform: translate3d(0, 0, 100px) rotate(0.01deg)
    }
}



  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }







